/* SCSS HEX */
$lion: #b69357ff;
$ecru: #ceab68ff;
$sunset: #e6c586ff;
$slate-gray: #64767dff;
$powder-blue: #a8bdcbff;


body {
  background-image: url(../assets/savanne.jpg);
  background-size: cover;
  filter: blur();
}

