/* SCSS HEX */
$lion: #b69357ff;
/* $ecru: #ceab68ff;
$sunset: #e6c586ff;
$slate-gray: #64767dff;
$powder-blue: #a8bdcbff; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/savanne.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

#slider {
  width: 75vw;
  height: 75vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  border-radius: 100%;
  display: grid;
  grid-template-rows: 75% 25%;
  gap: 20px ;

#sliderContainer {
  display: flex;
  justify-content: space-evenly;
}

#sliderText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b69357ff;
  padding: 10px;
  border-radius: 5px;
  

  
  h1 {
    text-align: center;
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
  }

  #sliderHeader {
    height: 20%;
    width: 25vw;

  }
  
  #sliderFillText {
    height: 70%;
    width: 25vw;
  }
  
}


  #sliderImg {

    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 50px #000000;
  }

  
  
  #imgMenu {
    display: flex;
    justify-content: space-around;

    .imgMenuItem {
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 10px #000000;
    }
  }
}
